#errorscreen {
	color: red;
	font-weight: bold;
	font-size: 200%;
}

#board {
	border: 1px #ccc solid;
	line-height: 1em;
	font-size: 150%;
	font-weight: bold;
}

#keyseq {
	border: 1px black dotted;
	font-size: 80%;
	height: 1em;
}
